# 1 Find a dataset you aren’t familiar with.
This project pick the data of <a href='https://data.cityofnewyork.us/City-Government/Citywide-Payroll-Data-Fiscal-Year-/k397-673e/about_data'>Citywide Payroll Data</a> from New York City. Because this data contains 5.66 million rows, it filter it down as following.

In [2]:
# Import Data
import pandas as pd
df = pd.read_csv('Citywide_Payroll_Data__Fiscal_Year__20241029.csv')

C:\Users\oiwah\AppData\Local\Temp\ipykernel_64836\2302920706.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Citywide_Payroll_Data__Fiscal_Year__20241029.csv')

In [3]:
# Show the data
df.head(5)

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,NaN,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
1,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,GEAGER,VERONICA,M,09/12/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
2,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,NaN,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
3,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,ROTTA,JONATHAN,D,09/16/2013,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
4,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,WILSON II,ROBERT,P,04/30/2018,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0

In [4]:
# Filter the data for 2023, where Regular Gross Paid is greater than 0.
# This is for the analyisis on only those who receive regular salary.
df_filtered = df[(df['Fiscal Year']==2023) & (df['Regular Gross Paid']>0)]
df_filtered.head(5)

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
4908876,2023,2.0,OFFICE OF THE MAYOR,CHAN,JONATHAN,D,11/15/2021,MANHATTAN,STAFF ASSISTANT,ACTIVE,68000.00,per Annum,1820.00,66164.41,88.0,3086.52,0.00
4909133,2023,2.0,OFFICE OF THE MAYOR,HAKEM,ADIL,M,06/05/2023,MANHATTAN,SUMMER COLLEGE INTERN,ACTIVE,15.75,per Hour,32.75,515.81,0.0,0.00,0.00
4910453,2023,2.0,OFFICE OF THE MAYOR,RAWSHANARA,SARA,S,04/02/2018,MANHATTAN,SPECIAL ASSISTANT,ACTIVE,95940.00,per Annum,1820.00,95677.14,0.0,0.00,0.00
4911517,2023,2.0,OFFICE OF THE MAYOR,REDUTO,OLIVIA,E,06/08/2022,MANHATTAN,SUMMER COLLEGE INTERN,CEASED,15.75,per Hour,277.00,4362.79,0.0,0.00,110.25
4911554,2023,2.0,OFFICE OF THE MAYOR,REED,EDWARD,L,10/27/1986,MANHATTAN,SPECIAL ASSISTANT,ACTIVE,113300.00,per Annum,1820.00,112989.50,0.0,0.00,0.00

In [5]:
# Confirm that new data has rows less than one million. 
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 533509 entries, 4908876 to 5662712
Data columns (total 17 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Fiscal Year                 533509 non-null  int64
 1   Payroll Number              533509 non-null  float64
 2   Agency Name                 533509 non-null  object
 3   Last Name                   533150 non-null  object
 4   First Name                  533138 non-null  object
 5   Mid Init                    310586 non-null  object
 6   Agency Start Date           533509 non-null  object
 7   Work Location Borough       533508 non-null  object
 8   Title Description           533506 non-null  object
 9   Leave Status as of June 30  533509 non-null  object
 10  Base Salary                 533509 non-null  float64
 11  Pay Basis                   533509 non-null  object
 12  Regular Hours               533509 non-null  float64
 13  Regular Gross Paid          533509 non-null  float64
 14  OT Hours                    533509 non-null  float64
 15  Total OT Paid               533509 non-null  float64
 16  Total Other Pay             533509 non-null  float64
dtypes: float64(7), int64(1), object(9)
memory usage: 73.3+ MB

In [6]:
# Save the filtered data as a new csv.
df_filtered = df_filtered.to_csv('Filtered Data for Project 1')

# 2. If there’s more than one numeric column, pick one.
This project picks up the "Regular Gross Paid" column as a numeric one.
Note that, based on the warning before, this column does not include mixed types.

# 3. Create a new notebook.
This project create a new notebook as the name of 'Project 1'.

# 4. Using pandas

In [10]:
# a. Read in the data.
df_pj1 = pd.read_csv('Filtered Data for Project 1')
df_pj1[['Regular Gross Paid']].head(5)

   Regular Gross Paid
0            66164.41
1              515.81
2            95677.14
3             4362.79
4           112989.50

In [11]:
# b. Compute: The mean, the median, and the mode.
print(f'Mean: ${df_pj1['Regular Gross Paid'].mean():.1f}')
print(f'Median: ${df_pj1['Regular Gross Paid'].median():.1f}')
print(f'Mode: ${df_pj1['Regular Gross Paid'].mode()[0]:.1f}')

Mean: $49074.0
Median: $42138.1
Mode: $85058.2

# 5. Repeat the previous step using only the Python standard library.

In [13]:
import csv
with open('Filtered Data for Project 1', 'r', encoding = 'utf-8') as file:
    reader = csv.reader(file)
    headers = next(reader)
    data = []
    for row in reader:
        data.append(row)

for i, row in enumerate(data):
    if i < 5:
        print(row)

['4908876', '2023', '2.0', 'OFFICE OF THE MAYOR', 'CHAN', 'JONATHAN', 'D', '11/15/2021', 'MANHATTAN', 'STAFF ASSISTANT', 'ACTIVE', '68000.0', 'per Annum', '1820.0', '66164.41', '88.0', '3086.52', '0.0']
['4909133', '2023', '2.0', 'OFFICE OF THE MAYOR', 'HAKEM', 'ADIL', 'M', '06/05/2023', 'MANHATTAN', 'SUMMER COLLEGE INTERN', 'ACTIVE', '15.75', 'per Hour', '32.75', '515.81', '0.0', '0.0', '0.0']
['4910453', '2023', '2.0', 'OFFICE OF THE MAYOR', 'RAWSHANARA', 'SARA', 'S', '04/02/2018', 'MANHATTAN', 'SPECIAL ASSISTANT', 'ACTIVE', '95940.0', 'per Annum', '1820.0', '95677.14', '0.0', '0.0', '0.0']
['4911517', '2023', '2.0', 'OFFICE OF THE MAYOR', 'REDUTO', 'OLIVIA', 'E', '06/08/2022', 'MANHATTAN', 'SUMMER COLLEGE INTERN', 'CEASED', '15.75', 'per Hour', '277.0', '4362.79', '0.0', '0.0', '110.25']
['4911554', '2023', '2.0', 'OFFICE OF THE MAYOR', 'REED', 'EDWARD', 'L', '10/27/1986', 'MANHATTAN', 'SPECIAL ASSISTANT', 'ACTIVE', '113300.0', 'per Annum', '1820.0', '112989.5', '0.0', '0.0', '0.0']

In [14]:
# Make a new dictionary with new ids and values of regular gross paid. 
dict_pj1={i:float(data[i][14]) for i in range(len(data))}

In [15]:
# Sum values and divide the sum by the number of values for the mean.
sum = 0
for i in range(len(dict_pj1)):
    sum += dict_pj1[i]
mean = sum/len(dict_pj1)
print(f'Mean: ${mean:.1f}')

# Sort values in descending order.
# if the number of values is odd, it selects the middle value.
#if even, it averages the two middle values.
sorted_dict_pj1 = sorted(dict_pj1.values(), reverse=True)
if len(dict_pj1)%2 == 1:
    print(f'Median: ${sorted_dict_pj1[int((len(dict_pj1)-1)/2)]:.1f}')
else:
    print(f'Median: ${(sorted_dict_pj1[int(len(dict_pj1)/2-1)]
            +sorted_dict_pj1[int(len(dict_pj1)/2)])/2:.1f}')

# Calculate the mode of values in dict_pj1
# Count occurrences of each value.
# Then select the value with the highest count.
count_pj1 = {}
for value in dict_pj1.values():
    if value in count_pj1:
        count_pj1[value] += 1
    else:
        count_pj1[value] = 1

most_common_value = max(count_pj1, key=count_pj1.get)
print(f'Mode: ${most_common_value:.1f}')

Mean: $49074.0
Median: $42138.1
Mode: $85058.2

# 6. Create a data visualization

## (1) Function to Create Asterisks

In [18]:
# Indicate value in thousands of dollars.
def asterisk(num):
    asterisk = '*' * round(num / 1000)
    return asterisk

## (2) Pandas

In [20]:
# a. Read in the data.
# Show first 5 rows of Regular Gross Paid.

yellow = "\033[93m"
green = "\033[92m"
reset = "\033[0m"

print('Title: First 5 rows of Regular Gross Paid')
print('X axis: One asterisk indicates $1,000.\n')

for i in range(5):
    content = f'{yellow}{i}{reset}: {green}{asterisk(df_pj1['Regular Gross Paid'][i])}{reset}'
    print(content)

Title: First 5 rows of Regular Gross Paid
X axis: One asterisk indicates $1,000.

0: ******************************************************************
1: *
2: ************************************************************************************************
3: ****
4: *****************************************************************************************************************

In [21]:
# b. Compute: The mean, the median, and the mode, using pandas.

print('Title: Mean, median, and mode of Regular Gross Paid')
print('X axis: One asterisk indicates $1,000.\n')

print(f'{yellow}Mean{reset}____{green}{asterisk(df_pj1['Regular Gross Paid'].mean())}{reset}')
print(f'{yellow}Median{reset}__{green}{asterisk(df_pj1['Regular Gross Paid'].median())}{reset}')
print(f'{yellow}Mode{reset}____{green}{asterisk(df_pj1['Regular Gross Paid'].mode()[0])}{reset}')

Title: Mean, median, and mode of Regular Gross Paid
X axis: One asterisk indicates $1,000.

Mean____*************************************************
Median__******************************************
Mode____*************************************************************************************

## (3) Standard Library

In [23]:
# a. Read in the data.
# Show first 5 rows of Regular Gross Paid.

print('Title: First 5 rows of Regular Gross Paid')
print('X axis: One asterisk indicates $1,000.\n')

for i in range(5):
    content = f'{yellow}{i}{reset}: {green}{asterisk(dict_pj1[i])}{reset}'
    print(content)

Title: First 5 rows of Regular Gross Paid
X axis: One asterisk indicates $1,000.

0: ******************************************************************
1: *
2: ************************************************************************************************
3: ****
4: *****************************************************************************************************************

In [24]:
# b. Compute: The mean, the median, and the mode without pandas.

print('Title: Mean, median, and mode of Regular Gross Paid')
print('X axis: One asterisk indicates $1,000.\n')

print(f'{yellow}Mean{reset}____{green}{asterisk(mean)}{reset}')
print(f'{yellow}Median{reset}__{green}{asterisk(sorted_dict_pj1[int((len(dict_pj1)-1)/2)])}{reset}')
print(f'{yellow}Mode{reset}____{green}{asterisk(most_common_value)}{reset}')

Title: Mean, median, and mode of Regular Gross Paid
X axis: One asterisk indicates $1,000.

Mean____*************************************************
Median__******************************************
Mode____*************************************************************************************